body {
  margin-bottom: 50px;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
a {
  color: #42b983;
}
.class1 {
  width: 100px;
  height: 100px;
  background: #ddd;
}
#list-1 {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #ddd;
  margin: 0 auto;
}
#run-box {
  width: 1225px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.box {
  position: absolute;
  top: 0;
}
.box .pic img {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 5px;
}
.pic:last-child img {
  margin: 0;
}
